<header class="main-nav">
  <div class="nav-container">
    <a href="index.html" class="logo-link">
      <img src="images\G4E-no-bg.png" alt="Earth Foundation Logo" class="logo-pic" />
    </a>
    <button class="hamburger-menu" aria-label="Open navigation">
      <span class="line line-1"></span>
      <span class="line line-2"></span>
      <span class="line line-3"></span>
    </button>
    
    <nav class="nav-wrapper">
      <ul class="nav-links">
        <li><a href="index.html" class="nav-link">Home</a></li>
        <li><a href="about.html" class="nav-link">About</a></li>
        <li><a href="our-work.html" class="nav-link">Our Work</a></li>
        <li><a href="impact.html" class="nav-link">Impact</a></li>
        <li><a href="contact.html" class="nav-link">Contact</a></li>
      </ul>
      <div class="nav-cta">
        <a href="get-involved.html" class="nav-button">Get Involved</a>
      </div>
    </nav>
    
  </div>
</header>